.vs
.vscode
*.log
*.diff
*.user
__pycache__
Binaries
Source/*.o
Source/*.so
Source/astcdec-*
Source/astcenc-*
Source/VS2019/*Release
Source/VS2019/*Debug
Source/VS2019/*.exe
Test/DocOut
Test/Images/Kodak
Test/Images/Scratch*
TestOutput
Docs/LibraryInterface.md
Docs/Profiling.md
