# Editor and engineering scratch files
.vs
.vscode
.DS_Store
*.log
*.diff
*.user
*.o
*.a
__pycache__
Scratch
Proto

# Precompiled reference binaries for comparison tests
bin
lib
Binaries

# Build artifacts
astcenc
build*

# General build artifacts
Test/DocOut

# Test images we download from other sources
Test/Images/Kodak*/**/*.png
Test/Images/Scratch*

# Test output
TestOutput
/*.xlsx
/*.json
/*.log
/*.txt
/*.hdr
/*.png
/*.exr
/*.astc
astc_reference-main*
Docs/Profiling.md
Source/astcenccli_version.h
