.vs
.vscode
*.log
*.diff
*.user
__pycache__
Binaries
Source/*.o
Source/*.so
Source/astcenc-*
Source/astcenc-*
Source/VS2019/*Release
Source/VS2019/*Debug
Test/DocOut
Test/Images/Kodak
Test/Images/Scratch*
TestOutput
